html, body {
	height: 100%; 
	padding: 0; 
	margin: 0;
	background: #4675d2;
	text-align: center;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	color: white;
	overflow: hidden;
}
#container {
	width: 100%; 
	height: 100%; 
	float: left; 
}
#border{
	width:80%; 
	height:80%; 
	border: solid 3px;
    border-radius: 11px;
	position:absolute;
  	left: 50%;
  	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	vertical-align: center;
	top: 13%;
	
}
#game{
	width: 100%;
	height: 80%;
	font-weight:bold;
	letter-spacing:0pt;
	word-spacing:-5pt;
	font-size:26px;
	text-align:left;
	line-height:1;
}
#background{
	border:solid 3px;
    border-radius: 11px;
	padding: 10px 15px;
	position:absolute;
  	left: 50%;
  	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	vertical-align: center;
	top: 50%;
}
span{
	display: inline-block;
	vertical-align: center;
}
#cookies{
	bottom:0;
	right:0;
	position: fixed;
	font-size:10px;
	width:25%;
}
#info{
    width: 90%;
	position: absolute;
  	left: 50%;
  	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	vertical-align: center;
	text-align: center;
    top: 20%;
}
.infodiv{
    float: left;
	padding: 10px 15px;
	border:solid 3px;
    border-radius: 11px;
    padding: 2px;
    margin-left:10%;
    text-align: center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:20%;
}
.correct{
	color: white;
}
.incorrect{
	color: red;
}
.inactive{
	color: black;
}